@{
    //Este pedaço de código está insccrito em C#
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soluções de uma Equação do 2º Grau</h1>
</div>

<form>
    <!--Recolher dados dos parâmetros da equação do 2º grau-->
    <div>
        <p>
            Escolha os parâmetros da equação <br />
            A X^2 + B X + C
        </p>
        A = <input name="valorA" type="text" /> <br />
        B = <input name="valorB" type="text" /> <br />
        C = <input name="valorC" type="text" /> <br />

        <input type="submit" value="Calcular" onclick="calcular()"/>
    </div>
</form>